<!doctype html>
<html lang="en" ng-app="novapostaApp">
  <head>
    <meta charset="utf-8">
    <title>Nova posta</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="bower_components/angular/angular.js"></script>
      <script src="app.js"></script>
      <script src="service.js"></script>
      <script src="controller.js"></script>
  </head>
  <body ng-controller="novapostaController">

  <div class="container">
      <div class="row">
          <div class="form-group">
              <input type="text" ng-model="searchfield" class="form-control" placeholder="Поиск по городам"/>
          </div>

          <ul>
              <li ng-repeat="item in items | filter:searchfield">
                  <span>{{item.DescriptionRu}}</span>
              </li>
          </ul>
      </div>
  </div>

  </body>
</html>
